In [1]:
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd

In [5]:
# Necessary metadata
article_id = 14096681  # this is the unique identifier of the article on figshare
url = f"https://api.figshare.com/v2/articles/{article_id}"
headers = {"Content-Type": "application/json"}
output_directory = "figuresharerainfall/"

In [6]:
response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)  # this contains all the articles data, feel free to check it out
files = data["files"]             # this is just the data about the files, which is what we want
files

[{'id': 26579150,
  'name': 'daily_rainfall_2014.png',
  'size': 58863,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579150',
  'supplied_md5': 'fd32a2ffde300a31f8d63b1825d47e5e',
  'computed_md5': 'fd32a2ffde300a31f8d63b1825d47e5e'},
 {'id': 26579171,
  'name': 'environment.yml',
  'size': 192,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579171',
  'supplied_md5': '060b2020017eed93a1ee7dd8c65b2f34',
  'computed_md5': '060b2020017eed93a1ee7dd8c65b2f34'},
 {'id': 26586554,
  'name': 'README.md',
  'size': 5422,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26586554',
  'supplied_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c',
  'computed_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c'},
 {'id': 26766812,
  'name': 'data.zip',
  'size': 814041183,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766812',
  'supplied_md5': 'b517383f76e77bd03755a63a8ff83ee9',
  'computed_md5': 'b517383f76e77bd03755a63a8ff83ee9'},
 {'id': 26766815,
  'name': 'get_data.py',
  'size': 4113,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766815',
  'supplied_md5': '7829028495fd9dec9680ea013474afa6',
  'computed_md5': '7829028495fd9dec9680ea013474afa6'}]

In [8]:
%%time
files_to_dl = ["data.zip"]  # feel free to add other files here
for file in files:
    if file["name"] in files_to_dl:
        os.makedirs(output_directory, exist_ok=True)
        urlretrieve(file["download_url"], output_directory + file["name"])

CPU times: user 5.68 s, sys: 11.5 s, total: 17.2 s
Wall time: 6min 23s

In [9]:
%%time
with zipfile.ZipFile(os.path.join(output_directory, "data.zip"), 'r') as f:
    f.extractall(output_directory)

CPU times: user 12 s, sys: 2.4 s, total: 14.4 s
Wall time: 14.6 s

In [11]:
%ls -ltr dailyrainfall/

total 12081992
-rw-r--r--   1 chenyangwang  staff  814041183 27 Mar 15:37 data.zip
-rw-r--r--   1 chenyangwang  staff   95376895 27 Mar 15:37 MPI-ESM-1-2-HAM_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff   94960113 27 Mar 15:37 AWI-ESM-1-1-LR_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff   82474546 27 Mar 15:37 NorESM2-LM_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  127613760 27 Mar 15:37 ACCESS-CM2_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  232118894 27 Mar 15:37 FGOALS-f3-L_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  330360682 27 Mar 15:38 CMCC-CM2-HR4_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  254009247 27 Mar 15:38 MRI-ESM2-0_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  235661418 27 Mar 15:38 GFDL-CM4_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  294260911 27 Mar 15:38 BCC-CSM2-MR_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  295768615 27 Mar 15:38 EC-Earth3-Veg-LR_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  328852379 27 Mar 15:38 CMCC-ESM2_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff   67784105 27 Mar 15:38 NESM3_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff   95640682 27 Mar 15:38 MPI-ESM1-2-LR_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  114707410 27 Mar 15:38 ACCESS-ESM1-5_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  116179272 27 Mar 15:38 FGOALS-g3_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  102517965 27 Mar 15:38 INM-CM4-8_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  515458033 27 Mar 15:38 MPI-ESM1-2-HR_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  332813281 27 Mar 15:38 TaiESM1_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  337555851 27 Mar 15:38 NorESM2-MM_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  328787320 27 Mar 15:38 CMCC-CM2-SR5_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff     952202 27 Mar 15:38 observed_daily_rainfall_SYD.csv
-rw-r--r--   1 chenyangwang  staff   93829697 27 Mar 15:38 KIOST-ESM_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  102692289 27 Mar 15:38 INM-CM5-0_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  206822938 27 Mar 15:38 MIROC6_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff   55224437 27 Mar 15:38 BCC-ESM1_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  124586961 27 Mar 15:38 GFDL-ESM4_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff   46286371 27 Mar 15:38 CanESM5_daily_rainfall_NSW.csv
-rw-r--r--   1 chenyangwang  staff  333489879 27 Mar 15:38 SAM0-UNICON_daily_rainfall_NSW.csv
drwxr-xr-x  30 chenyangwang  staff        960 27 Mar 15:38 __MACOSX/

In [12]:
%%time
## here we are using a normal python way for merging the data 
import pandas as pd
files = glob.glob('figuresharerainfall/*.csv')
df = pd.concat((pd.read_csv(file, index_col=0)
                .assign(model=re.findall("/([^_]*)", file)[0])
                for file in files)
              )
df.to_csv("figuresharerainfall/combined_data.csv")

CPU times: user 5min 4s, sys: 11.5 s, total: 5min 16s
Wall time: 5min 17s

In [15]:
df

,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
time,,,,,,
1889-01-01 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.244226e-13,MPI-ESM-1-2-HAM
1889-01-02 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.217326e-13,MPI-ESM-1-2-HAM
1889-01-03 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.498125e-13,MPI-ESM-1-2-HAM
1889-01-04 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.251282e-13,MPI-ESM-1-2-HAM
1889-01-05 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.270161e-13,MPI-ESM-1-2-HAM
...,...,...,...,...,...,...
2014-12-27 12:00:00,-30.157068,-29.214660,153.1250,154.3750,6.689683e+00,SAM0-UNICON
2014-12-28 12:00:00,-30.157068,-29.214660,153.1250,154.3750,7.862555e+00,SAM0-UNICON
2014-12-29 12:00:00,-30.157068,-29.214660,153.1250,154.3750,1.000503e+01,SAM0-UNICON
2014-12-30 12:00:00,-30.157068,-29.214660,153.1250,154.3750,8.541592e+00,SAM0-UNICON
2014-12-31 12:00:00,-30.157068,-29.214660,153.1250,154.3750,6.811749e+01,SAM0-UNICON

In [35]:
%%sh
du -sh figuresharerainfall/combined_data.csv

5.6G	figuresharerainfall/combined_data.csv

In [18]:
print(df.shape)

(62467843, 6)

In [19]:
print(f"Memory usage with float64: {df.memory_usage().sum() / 1e6:.2f} MB")
print(f"Memory usage with float32: {df.astype('float32', errors='ignore').memory_usage().sum() / 1e6:.2f} MB")

Memory usage with float64: 3498.20 MB
Memory usage with float32: 2248.84 MB

In [22]:
df_32 = df.astype('float32', errors='ignore')
df_32.to_csv("figuresharerainfall/combined_data_32.csv")

In [24]:
df_32

,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
time,,,,,,
1889-01-01 12:00:00,-35.439865,-33.574619,141.5625,143.4375,4.244226e-13,MPI-ESM-1-2-HAM
1889-01-02 12:00:00,-35.439865,-33.574619,141.5625,143.4375,4.217326e-13,MPI-ESM-1-2-HAM
1889-01-03 12:00:00,-35.439865,-33.574619,141.5625,143.4375,4.498125e-13,MPI-ESM-1-2-HAM
1889-01-04 12:00:00,-35.439865,-33.574619,141.5625,143.4375,4.251282e-13,MPI-ESM-1-2-HAM
1889-01-05 12:00:00,-35.439865,-33.574619,141.5625,143.4375,4.270161e-13,MPI-ESM-1-2-HAM
...,...,...,...,...,...,...
2014-12-27 12:00:00,-30.157068,-29.214659,153.1250,154.3750,6.689683e+00,SAM0-UNICON
2014-12-28 12:00:00,-30.157068,-29.214659,153.1250,154.3750,7.862556e+00,SAM0-UNICON
2014-12-29 12:00:00,-30.157068,-29.214659,153.1250,154.3750,1.000503e+01,SAM0-UNICON
2014-12-30 12:00:00,-30.157068,-29.214659,153.1250,154.3750,8.541592e+00,SAM0-UNICON
2014-12-31 12:00:00,-30.157068,-29.214659,153.1250,154.3750,6.811749e+01,SAM0-UNICON

In [34]:
%%sh
du -sh figuresharerainfall/combined_data_32.csv

4.5G	figuresharerainfall/combined_data_32.csv

In [28]:
print(df_32.shape)

(62467843, 6)

In [31]:
%%time
# Original data
print(df["model"].value_counts())

MPI-ESM1-2-HR       5154240
CMCC-CM2-HR4        3541230
CMCC-ESM2           3541230
CMCC-CM2-SR5        3541230
NorESM2-MM          3541230
TaiESM1             3541230
SAM0-UNICON         3541153
GFDL-ESM4           3219300
FGOALS-f3-L         3219300
GFDL-CM4            3219300
MRI-ESM2-0          3037320
EC-Earth3-Veg-LR    3037320
BCC-CSM2-MR         3035340
MIROC6              2070900
ACCESS-CM2          1932840
ACCESS-ESM1-5       1610700
INM-CM4-8           1609650
INM-CM5-0           1609650
FGOALS-g3           1287720
KIOST-ESM           1287720
AWI-ESM-1-1-LR       966420
MPI-ESM1-2-LR        966420
NESM3                966420
MPI-ESM-1-2-HAM      966420
NorESM2-LM           919800
BCC-ESM1             551880
CanESM5              551880
Name: model, dtype: int64
CPU times: user 1.95 s, sys: 12.7 ms, total: 1.96 s
Wall time: 1.94 s

In [32]:
%%time
# Changing dtype of data
print(df_32["model"].value_counts())

MPI-ESM1-2-HR       5154240
CMCC-CM2-HR4        3541230
CMCC-ESM2           3541230
CMCC-CM2-SR5        3541230
NorESM2-MM          3541230
TaiESM1             3541230
SAM0-UNICON         3541153
GFDL-ESM4           3219300
FGOALS-f3-L         3219300
GFDL-CM4            3219300
MRI-ESM2-0          3037320
EC-Earth3-Veg-LR    3037320
BCC-CSM2-MR         3035340
MIROC6              2070900
ACCESS-CM2          1932840
ACCESS-ESM1-5       1610700
INM-CM4-8           1609650
INM-CM5-0           1609650
FGOALS-g3           1287720
KIOST-ESM           1287720
AWI-ESM-1-1-LR       966420
MPI-ESM1-2-LR        966420
NESM3                966420
MPI-ESM-1-2-HAM      966420
NorESM2-LM           919800
BCC-ESM1             551880
CanESM5              551880
Name: model, dtype: int64
CPU times: user 1.9 s, sys: 17.2 ms, total: 1.92 s
Wall time: 1.9 s

In [33]:
%%time
# Loading in chunks
counts = pd.Series(dtype=int)
for chunk in pd.read_csv("figuresharerainfall/combined_data.csv", chunksize=10_000_000):
    counts = counts.add(chunk["model"].value_counts(), fill_value=0)
print(counts.astype(int))

ACCESS-CM2          1932840
ACCESS-ESM1-5       1610700
AWI-ESM-1-1-LR       966420
BCC-CSM2-MR         3035340
BCC-ESM1             551880
CMCC-CM2-HR4        3541230
CMCC-CM2-SR5        3541230
CMCC-ESM2           3541230
CanESM5              551880
EC-Earth3-Veg-LR    3037320
FGOALS-f3-L         3219300
FGOALS-g3           1287720
GFDL-CM4            3219300
GFDL-ESM4           3219300
INM-CM4-8           1609650
INM-CM5-0           1609650
KIOST-ESM           1287720
MIROC6              2070900
MPI-ESM-1-2-HAM      966420
MPI-ESM1-2-HR       5154240
MPI-ESM1-2-LR        966420
MRI-ESM2-0          3037320
NESM3                966420
NorESM2-LM           919800
NorESM2-MM          3541230
SAM0-UNICON         3541153
TaiESM1             3541230
dtype: int64
CPU times: user 54.6 s, sys: 6.65 s, total: 1min 1s
Wall time: 1min 1s